@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Prosto+One&display=swap');

p,h1,h2 {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #886efd;
    --secundary-color: #4FF3BA;
    --dark-color: #231850;
    --light-color: #F1F3FF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lusitana';
    background: var(--dark-color);
}

/* HEADER */

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

header > div {
    height: 5px;
    border-radius: 3px;
    width: 10rem;
    background-color: var(--secundary-color);
}

header > p {
    color: var(--light-color);
}

header > a, header > nav {
    margin: 0 3rem;
}

.search-bar > input {
    justify-self: stretch;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.search-bar > img {
    cursor: pointer;
    max-width: 100%;
    padding: 1rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 5rem;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li {
    cursor: pointer;
}

.nav-menu-item {
    position: relative;
    color: var(--light-color);
}

.nav-menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    height: 5px;
    width: 0;
    transition: 0.3s;
    background-color: var(--light-color);
}

.nav-menu-item:hover::after {
    width: 100%;
}

.nav-menu-account {
    color: var(--dark-color);
}

.nav-menu-account:hover {
    color: var(--secundary-color);
    transition: 0.5s;
}

.register {
    background-color: var(--dark-color);
    color:  var(--light-color);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

/* BANNER */

.banner {
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    user-select: none;
}

.banner img {
    width: 100%;
    -webkit-user-drag: none;
}

.banner h1 {
    position: absolute;
    font-size: 8rem;
    font-family: "Prosto One", sans-serif;
    color: var(--secundary-color);
    text-shadow: 0px 3px 0px var(--light-color)
}

/* HOME */

.conteudo {
    max-width: 100rem;
    margin: 0 auto;
}

.primary-bar,.secundary-bar{
    width: 100%;
    height: 10px;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.primary-bar {
    background-color: var(--secundary-color);
}

.secundary-bar {
    background-color: var(--primary-color);
}

.clothes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 3rem;
}

.clothes ul li {
    max-width: 20rem;
    color: var(--light-color);
    cursor: pointer;
    margin-bottom: 3rem;
}

.clothes ul li img {
    aspect-ratio: 1 / 1;
    max-width: 100%;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
}

.clothes ul li:hover img {
    max-width: 100%;
    filter: brightness(75%);
}

/* FOOTER */

footer {
    background-color: #000;
    color: var(--light-color);
    padding: 3rem 0 2rem 0;
    font-size: 1.25rem;
    text-align: center;
}

.vantagens {
    background-color: var(--dark-color);
    max-width: 100rem;
    margin: auto;
}

.vantagens ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 3rem;
    gap: 2rem;
}

.vantagens ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.vantagens ul li p span {
    color: var(--secundary-color);
    font-weight: bold;
}

/* LoginComponent */

.componente {
    max-width: 50rem;
    margin: 0 auto;
    padding: 10rem 0;
}

.componente h1 {
    text-align: center;
    color: var(--light-color);
    font-size: 4rem;
}

.formulario {
    background-color: var(--light-color);
    border: 5px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    font-size: 1.5rem;
}

.formulario input {
    background-color: var(--light-color);
    font-size: 2rem;
    border: none;
    border-bottom: 3px solid var(--dark-color);
    padding: 1rem;
}

.formulario button {
    background-color: var(--dark-color);
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;
    padding: 0.5rem 0;
}

.formulario button:hover {
    background-color: var(--primary-color);
    transition: ease 0.2s;
}

.formulario p {
    text-align: center;
}

/* Estilo para roupas especificas */

.roupa-especifica {
    margin: 15rem;
    display: flex;
    gap: 5rem;
    color: var(--light-color);
}

.roupa-especifica > img {
    aspect-ratio: 1 / 1;
    max-width: 100%;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
}

.roupa-especifica .descricao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.roupa-especifica .descricao h1 {
    font-size: 3rem;
    font-weight: normal;
}

.roupa-especifica .descricao .preco {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
}

.roupa-especifica .descricao .preco > img {
    cursor: pointer;
}

.roupa-especifica .descricao button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background-color: var(--secundary-color);
    border: none;
    transition: 0.3s;
    border-radius: 5px;
}

.roupa-especifica .descricao button:hover {
    background-color: #28bb8f;
}
