<!DOCTYPE html>
<html lang="en" id="captcha">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captcha</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <form class="formulario" action="">
        <input type="email" placeholder="Digite o seu email">
        <input type="password" name="senha" placeholder="Digite a sua senha">
        <div class="g-recaptcha" data-sitekey="6LdceOIpAAAAAN9_X9OJ9TY0pZXNcvnHF9aP_q07"></div>
        <button>Entrar</button>
        <p><a href="">Esqueci minha senha</a></p>
    </form>
</body>
</html>