<footer>
    <div class="vantagens">
        <ul>
            <li>
                <img src="assets/mobileico.svg" alt="">
                <p>Emita <span>faturas</span> do cartão
                    e <span>empréstimos</span></p>
            </li>
            <li>
                <img src="assets/cardico.svg" alt="">
                <p>Solicite seu <span>Empréstimo</span>
                    Pessoal</p>
            </li>
            <li>
                <img src="assets/truckico.svg" alt="">
                <p><span>Retire em Loja</span> 
                    com frete grátis</p>
            </li>
            <li>
                <img src="assets/arrowsico.svg" alt="">
                <p><span>Trocas e devoluções</span>
                    Compre online e troque
                    na loja física</p>
            </li>
        </ul>
    </div>
    <h1>Copyright Lojas de Roupas S.A. ©  - Todos os direitos reservados</h1>
</footer>