<main>
    <div class="primary-bar"></div>
    <div class="clothes">
        <ul>
            <li>
                <img src="assets/clothes1.png" alt="Roupa Feminina vermelha">
                <p>Camiseta feminina vermelha</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes2.png" alt="Roupa Feminina Azul">
                <p>Camiseta Feminina Azul</p>
                <h2>R$ 34,99</h2>
            </li>
            <li>
                <img src="assets/clothes1.png" alt="Roupa Feminina vermelha">
                <p>Camiseta feminina vermelha</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes2.png" alt="Roupa Feminina Azul">
                <p>Camiseta Feminina Azul</p>
                <h2>R$ 34,99</h2>
            </li>
            <li>
                <img src="assets/clothes3.png" alt="Roupa Feminina Anjo na estampa">
                <p>Camiseta Feminina Anjo</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes4.png" alt="Roupa Feminina dourada e marrom com maria">
                <p>Roupa feminina dourada</p>
                <h2>R$ 49,99</h2>
            </li>
            <li>
                <img src="assets/clothes3.png" alt="Roupa Feminina Anjo na estampa">
                <p>Camiseta Feminina Anjo</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes4.png" alt="Roupa Feminina dourada e marrom com maria">
                <p>Roupa feminina dourada</p>
                <h2>R$ 49,99</h2>
            </li>
        </ul>
    </div>
    <div class="secundary-bar"></div>
    <div class="clothes">
        <ul>
            <li>
                <img src="assets/clothes1.png" alt="Roupa Feminina vermelha">
                <p>Camiseta feminina vermelha</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes2.png" alt="Roupa Feminina Azul">
                <p>Camiseta Feminina Azul</p>
                <h2>R$ 34,99</h2>
            </li>
            <li>
                <img src="assets/clothes1.png" alt="Roupa Feminina vermelha">
                <p>Camiseta feminina vermelha</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes2.png" alt="Roupa Feminina Azul">
                <p>Camiseta Feminina Azul</p>
                <h2>R$ 34,99</h2>
            </li>
            <li>
                <img src="assets/clothes3.png" alt="Roupa Feminina Anjo na estampa">
                <p>Camiseta Feminina Anjo</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes4.png" alt="Roupa Feminina dourada e marrom com maria">
                <p>Roupa feminina dourada</p>
                <h2>R$ 49,99</h2>
            </li>
            <li>
                <img src="assets/clothes3.png" alt="Roupa Feminina Anjo na estampa">
                <p>Camiseta Feminina Anjo</p>
                <h2>R$ 29,99</h2>
            </li>
            <li>
                <img src="assets/clothes4.png" alt="Roupa Feminina dourada e marrom com maria">
                <p>Roupa feminina dourada</p>
                <h2>R$ 49,99</h2>
            </li>
        </ul>
    </div>
    <div class="primary-bar"></div>
</main>

